main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    top:10vh;
    background-color: white;
    
}

#name{
    background-color: rgba(209,209,209,1);
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 4.8vw;
    justify-content: space-around;
    width: 90%;
    height: 80vh;
    box-shadow: 0px 0px 7px 1px grey;
}

h2{
    position: relative;
    top: 12px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
    text-shadow: 0 0 1px black;
    font-size: 20px;
   
    
}


.container{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type='text']{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.principal1 {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4vh;
    align-items: center;
    
}

label[for="code"] {
    position: relative;
    right: 4vw;
}

label[for="name"] {
    position: relative;
    right: 5.5vw;
}

label[for="type_stock"] {
    position: relative;
    left: 21.5vw;
}

label[for="quantity"] {
    position: relative;
    left: 13vw;
}

label[for="math"] {
    position: relative;
    left: 3.7vw;
}

.principal {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 95%;
    height: 7vh;
    gap:15px;
}

#code,
#name,
#type_stock,
#quantity,
#math {
    width: 18vw;
    height: 5vh;
    border-radius: 3px;
    border: 1px solid grey;
    box-shadow: 0 0 3px grey;
    
}
#code {
    flex-grow: 0;
    
}

#name {
    flex-grow: 15;
}

#type_stock {
    flex-grow: 0;
    width: 5vw;
}

#quantity {
    flex-grow: 0;
    width: 5vw;
}

#math {
    flex-grow: 0;
    width: 5vw;
}
.botao {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 5vh;
}

.botao button {
    margin-right: 15vh;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 23, 28);
    transition: all 0.5s ease;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.botao button:hover {
    color: black;
    background-color: white;
    transform: scale(1.1);
    box-shadow: 0 0 1px rgb(23, 23, 28),
                0 0 7px rgb(23, 23, 28);
}

.relatorio{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 75%;
    top:10px;
    box-shadow: 0px 0px 7px 1px grey;
    overflow: auto;
    max-height: 20000px;
}

.titulos{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4vh;
    top:15px;
    align-items: center;
}

.relatorio1{
    position: relative;
    width: 100%;
    display: flex;
    align-content: center;
    top:40px;

}

.relatorio1 h4{
    height: 5vh;
    box-shadow: 0px 1px 0px 0px grey;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.relatorio1 .item-1{
    display: flex;
    flex-grow: 3;

}

.relatorio1 .item-2{
    display: flex;
    flex-grow: 4;

}
.relatorio1 .item-3{
    display: flex;
    flex-grow: 0;
}
.relatorio1 .item-4{
    display: flex;
    flex-grow: 1;
}

/* CSS */
input::placeholder {
    color: black; /* Cor padrão do placeholder */
}

input.invalid-touched::placeholder {
    color: red; /* Cor do placeholder quando inválido e tocado */
}