<main class="main">
    <form action="#" class="form">
        <div class="sub-nav">
            <div class="titulo">
                <h2>Relatório de Estoque</h2>
            </div>
           <div class="pesquisa">
                <form action=""></form>
                <input type="text" id="texto" placeholder="Pesquisar">
                <img src="../../../assets/lupa.png">
           </div>
           <div class="aba">
                <h3>Titulo</h3>
                <h3>Titulo</h3>
                <h3>Titulo</h3>
                <h3>Titulo</h3>
                <h3>Titulo</h3>
           </div>
        </div>
        <div class="container">
            
        </div>
    </form>
</main>